# Git
.git
.gitignore

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
pip-log.txt
pip-delete-this-directory.txt

# Django
db.sqlite3
staticfiles/
media/
.env

# Docker
Dockerfile
.dockerignore

# Boshqalar
.vscode/
.idea/
.DS_Store